In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
dframe = DataFrame({'city':['alma','brian head','fox park'],
                    'altitude':[3158,3000,2762]})
dframe

   altitude        city
0      3158        alma
1      3000  brian head
2      2762    fox park

In [3]:
state_map = {'alma':'colorado','brian head':'utah','fox park':'wyoming'}

In [4]:
dframe['state'] = dframe['city'].map(state_map)
dframe

   altitude        city     state
0      3158        alma  colorado
1      3000  brian head      utah
2      2762    fox park   wyoming