In [5]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [6]:
ser1 = Series([1,2,3,4],index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [7]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [8]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
dtype: float64

In [9]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [10]:
ranger = range(15)
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [11]:
ser3.reindex(ranger,method='ffill') #forward fill

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [12]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A -0.748842  0.134814 -0.148749  0.163574 -0.191167
B  0.330181 -0.200638 -1.014329  0.136313  2.204072
D -1.421614  0.743498 -0.596578 -0.400025 -0.516597
E  0.712908  0.099376  0.590417 -0.464238  0.234036
F  0.484892  0.492355  0.356499  0.181761 -1.299770

In [13]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A -0.748842  0.134814 -0.148749  0.163574 -0.191167
B  0.330181 -0.200638 -1.014329  0.136313  2.204072
C       NaN       NaN       NaN       NaN       NaN
D -1.421614  0.743498 -0.596578 -0.400025 -0.516597
E  0.712908  0.099376  0.590417 -0.464238  0.234036
F  0.484892  0.492355  0.356499  0.181761 -1.299770

In [14]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [15]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -0.748842  0.134814 -0.148749  0.163574 -0.191167   NaN
B  0.330181 -0.200638 -1.014329  0.136313  2.204072   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.421614  0.743498 -0.596578 -0.400025 -0.516597   NaN
E  0.712908  0.099376  0.590417 -0.464238  0.234036   NaN
F  0.484892  0.492355  0.356499  0.181761 -1.299770   NaN

In [16]:
dframe

       col1      col2      col3      col4      col5
A -0.748842  0.134814 -0.148749  0.163574 -0.191167
B  0.330181 -0.200638 -1.014329  0.136313  2.204072
D -1.421614  0.743498 -0.596578 -0.400025 -0.516597
E  0.712908  0.099376  0.590417 -0.464238  0.234036
F  0.484892  0.492355  0.356499  0.181761 -1.299770

In [17]:
dframe.ix[['A','B','C','D','E','F'],new_columns]

       col1      col2      col3      col4      col5  col6
A -0.748842  0.134814 -0.148749  0.163574 -0.191167   NaN
B  0.330181 -0.200638 -1.014329  0.136313  2.204072   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.421614  0.743498 -0.596578 -0.400025 -0.516597   NaN
E  0.712908  0.099376  0.590417 -0.464238  0.234036   NaN
F  0.484892  0.492355  0.356499  0.181761 -1.299770   NaN