In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
dframe = DataFrame({'k1':['x','x','y','y','z'],
                    'k2':['alpha','beta','alpha','beta','alpha'],
                    'dataset1':np.random.randn(5),
                    'dataset2':np.random.randn(5)})
dframe

   dataset1  dataset2 k1     k2
0  1.637131  0.373374  x  alpha
1 -0.628318  0.925990  x   beta
2 -0.954776 -0.325666  y  alpha
3 -0.867366  0.217893  y   beta
4  0.038451 -0.138396  z  alpha

In [3]:
group1 = dframe['dataset1'].groupby(dframe['k1'])
group1

In [4]:
group1.mean()

k1
x    0.504406
y   -0.911071
z    0.038451
Name: dataset1, dtype: float64

In [5]:
cities = np.array(['ny','la','la','ny','ny'])
months = np.array(['jan','feb','jan','feb','jan'])

In [6]:
dframe['dataset1'].groupby([cities,months]).mean()

la  feb   -0.628318
    jan   -0.954776
ny  feb   -0.867366
    jan    0.837791
Name: dataset1, dtype: float64

In [7]:
dframe.groupby('k1').mean()

    dataset1  dataset2
k1
x   0.504406  0.649682
y  -0.911071 -0.053886
z   0.038451 -0.138396

In [8]:
dframe.groupby(['k1','k2']).mean()

          dataset1  dataset2
k1 k2
x  alpha  1.637131  0.373374
   beta  -0.628318  0.925990
y  alpha -0.954776 -0.325666
   beta  -0.867366  0.217893
z  alpha  0.038451 -0.138396

In [10]:
dframe.groupby('k1').size()

k1
x    2
y    2
z    1
dtype: int64

In [11]:
dframe

   dataset1  dataset2 k1     k2
0  1.637131  0.373374  x  alpha
1 -0.628318  0.925990  x   beta
2 -0.954776 -0.325666  y  alpha
3 -0.867366  0.217893  y   beta
4  0.038451 -0.138396  z  alpha

In [12]:
for name,group in dframe.groupby('k1'):
    print "this is the %s group" %name
    print group
    print '\n'

this is the x group
   dataset1  dataset2 k1     k2
0  1.637131  0.373374  x  alpha
1 -0.628318  0.925990  x   beta


this is the y group
   dataset1  dataset2 k1     k2
2 -0.954776 -0.325666  y  alpha
3 -0.867366  0.217893  y   beta


this is the z group
   dataset1  dataset2 k1     k2
4  0.038451 -0.138396  z  alpha

In [13]:
for (k1,k2), group in dframe.groupby(['k1','k2']):
    print "Key1 = %s Key2 %s" %(k1,k2)
    print group
    print '\n'

Key1 = x Key2 alpha
   dataset1  dataset2 k1     k2
0  1.637131  0.373374  x  alpha


Key1 = x Key2 beta
   dataset1  dataset2 k1    k2
1 -0.628318   0.92599  x  beta


Key1 = y Key2 alpha
   dataset1  dataset2 k1     k2
2 -0.954776 -0.325666  y  alpha


Key1 = y Key2 beta
   dataset1  dataset2 k1    k2
3 -0.867366  0.217893  y  beta


Key1 = z Key2 alpha
   dataset1  dataset2 k1     k2
4  0.038451 -0.138396  z  alpha

In [14]:
dframe

   dataset1  dataset2 k1     k2
0  1.637131  0.373374  x  alpha
1 -0.628318  0.925990  x   beta
2 -0.954776 -0.325666  y  alpha
3 -0.867366  0.217893  y   beta
4  0.038451 -0.138396  z  alpha

In [15]:
group_dict = dict(list(dframe.groupby('k1')))
group_dict

{'x':    dataset1  dataset2 k1     k2
 0  1.637131  0.373374  x  alpha
 1 -0.628318  0.925990  x   beta, 'y':    dataset1  dataset2 k1     k2
 2 -0.954776 -0.325666  y  alpha
 3 -0.867366  0.217893  y   beta, 'z':    dataset1  dataset2 k1     k2
 4  0.038451 -0.138396  z  alpha}

In [16]:
group_dict['x']

   dataset1  dataset2 k1     k2
0  1.637131  0.373374  x  alpha
1 -0.628318  0.925990  x   beta

In [18]:
group_dict_axis1 = dict(list(dframe.groupby(dframe.dtypes,axis=1)))
group_dict_axis1 #separated the dataframe by the types of data

{dtype('float64'):    dataset1  dataset2
 0  1.637131  0.373374
 1 -0.628318  0.925990
 2 -0.954776 -0.325666
 3 -0.867366  0.217893
 4  0.038451 -0.138396, dtype('O'):   k1     k2
 0  x  alpha
 1  x   beta
 2  y  alpha
 3  y   beta
 4  z  alpha}

In [19]:
dataset2_group = dframe.groupby(['k1','k2'])[['dataset2']]
dataset2_group.mean()

          dataset2
k1 k2
x  alpha  0.373374
   beta   0.925990
y  alpha -0.325666
   beta   0.217893
z  alpha -0.138396