In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [5]:
dframe1 = DataFrame(np.arange(8).reshape(2,4),
                    index=pd.Index(['la','sf'],name='city'),
                    columns=pd.Index(['a','b','c','d'],name='letter'))
dframe1

letter  a  b  c  d
city
la      0  1  2  3
sf      4  5  6  7

In [6]:
dframe_st = dframe1.stack()
dframe_st

city  letter
la    a         0
      b         1
      c         2
      d         3
sf    a         4
      b         5
      c         6
      d         7
dtype: int64

In [7]:
dframe_st.unstack()

letter  a  b  c  d
city
la      0  1  2  3
sf      4  5  6  7

In [8]:
dframe_st.unstack('letter')

letter  a  b  c  d
city
la      0  1  2  3
sf      4  5  6  7

In [9]:
dframe_st.unstack('city')

city    la  sf
letter
a        0   4
b        1   5
c        2   6
d        3   7

In [10]:
ser1 = Series([0,1,2],index=['q','x','y'])
ser2 = Series([4,5,6],index=['x','y','z'])

In [11]:
dframe = pd.concat([ser1,ser2],keys=['alpha','beta'])
dframe

alpha  q    0
       x    1
       y    2
beta   x    4
       y    5
       z    6
dtype: int64

In [12]:
dframe.unstack() #converts concatted series into dataframe -- dataframe shows null values

        q  x  y   z
alpha   0  1  2 NaN
beta  NaN  4  5   6

In [13]:
dframe.unstack().stack()

alpha  q    0
       x    1
       y    2
beta   x    4
       y    5
       z    6
dtype: float64

In [14]:
dframe = dframe.unstack()
dframe

        q  x  y   z
alpha   0  1  2 NaN
beta  NaN  4  5   6

In [15]:
dframe.stack()

alpha  q    0
       x    1
       y    2
beta   x    4
       y    5
       z    6
dtype: float64

In [17]:
dframe.stack(dropna=False) #keeps null values

alpha  q     0
       x     1
       y     2
       z   NaN
beta   q   NaN
       x     4
       y     5
       z     6
dtype: float64